---
import Layout from '../layouts/root.astro';
import Intro from '../components/intro.astro';
import Main from '../layouts/main.astro';
import Project from '../components/project.astro';
import SectionHeading from '../components/section-heading.astro';
import AboutMe from '../components/about-me.astro';
import showdown from "showdown"
import config from "config";
import Connection from '~/components/connection.astro';

const {user, repos} = config;

const {description, connections} = user;

const showdownConverter = new showdown.Converter();

const htmlDesc = description.split("\n").map(line => showdownConverter.makeHtml(line));
---

<Layout title="Welcome to Astro.">
  <Main>
    <div class="flex-col flex space-y-32">
      <div class="space-y-5">
        <Intro description={user.short_description} title={`Hi, I'm ${user.name}.`} />
        <div class="flex gap-5 items-center">
          {connections.map(connection => <Connection connection={connection} />)}
        </div>
      </div>
      <div >
        <SectionHeading title="Projects" description='Open-source projects available at github.com.' />
        <div class="columns-xs gap-4 pt-10">
          {repos.map(repo => ( 
            <div class="pb-4">
              <Project id={repo.name} name={repo.name} author={repo.author} />
            </div>
          ))}
        </div>
      </div>
      <AboutMe>
        {htmlDesc.map(line => ( 
          <div set:html={line} class="prose prose-neutral dark:prose-invert prose-a:no-underline prose-a:text-primary-400" />
        ))}
      </AboutMe>
    </div>
  </Main>
</Layout>
